{% extends "wagtailadmin/generic/edit.html" %}
{% load wagtailimages_tags wagtailadmin_tags i18n l10n %}

{% block extra_css %}
{{ block.super }}
<link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""
>
{% endblock %}

{% block extra_js %}
{{ block.super }}

<script src="{% versioned_static 'wagtailadmin/js/vendor/jquery.ba-throttle-debounce.min.js' %}"></script>
<script src="{% versioned_static 'wagtailimages/js/vendor/jquery.Jcrop.min.js' %}"></script>
<script src="{% versioned_static 'wagtailimages/js/focal-point-chooser.js' %}"></script>
<script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
></script>
<script src="{% versioned_static 'js/kyrauga-image-metadata-map.js' %}"></script>
{% endblock %}

{% block form_content %}
<div class="w-grid w-grid-cols-1 sm:w-grid-cols-2 w-gap-8 pb-8">
    <div>
        <input type="hidden" value="{{ next }}" name="next">
        {% for field in form.hidden_fields %}
        {{ field }}
        {% endfor %}
        {% for field in form.non_metadata_fields %}
        {% if field.name == "file" %}
        {% include "wagtailimages/images/_file_field.html" %}
        {% else %}
        {% formattedfield field %}
        {% endif %}
        {% endfor %}
    </div>
    <div>
        {% image image max-800x600 as rendition %}

        <div class="focal-point-chooser" data-max-width="{{ rendition.width|unlocalize }}px" data-max-height="{{ rendition.height|unlocalize }}px" data-focal-point-x="{{ image.focal_point_x|default_if_none:''|unlocalize }}" data-focal-point-y="{{ image.focal_point_y|default_if_none:''|unlocalize }}" data-focal-point-width="{{ image.focal_point_width|default_if_none:''|unlocalize }}" data-focal-point-height="{{ image.focal_point_height|default_if_none:''|unlocalize }}" data-focal-input-label="{% trans 'Image focal point' %}">
            <img {{ rendition.attrs }} decoding="async" data-original-width="{{ image.width|unlocalize }}" data-original-height="{{ image.height|unlocalize }}" class="show-transparency">
            <div class="current-focal-point-indicator{% if not image.has_focal_point %} hidden{% endif %}"></div>
        </div>

        {% if url_generator_url %}
        <a href="{{ url_generator_url }}" class="button bicolor button--icon">{% icon name="link" wrapped=1 %}{% trans "URL Generator" %}</a>
        <hr />
        {% endif %}

        <div class="w-grid md:w-grid-cols-3 w-gap-2">
            <div class="w-col-span-2">
                <h2 class="w-label-3">{% trans "Focal point" %} <span class="w-font-normal">{% trans "(optional)" %}</span></h2>
                <p>{% trans "To define this image's most important region, drag a box over the image above." %} {% if image.has_focal_point %}({% trans "Current focal point shown" %}){% endif %}</p>

                <button class="button button-secondary no remove-focal-point" type="button">{% trans "Remove focal area" %}</button>
            </div>
            <div class="w-col-span-1">
                {% image image original as original_image %}

                <dl>
                    <dt>{% trans "Max dimensions" %}</dt>
                    <dd>{{ original_image.width|unlocalize }}x{{ original_image.height|unlocalize }}</dd>
                    <dt>{% trans "Filesize" %}</dt>
                    <dd>{% if filesize %}{{ filesize|filesizeformat }}{% else %}{% trans "File not found" %}{% endif %}</dd>

                    <dt>{% trans "Usage" %}</dt>
                    <dd>
                        <a href="{{ image.usage_url }}">{% blocktrans trimmed with usage_count=usage_count_val|intcomma count usage_count_val=usage_count_val %}Used {{ usage_count }} time{% plural %}Used {{ usage_count }} times{% endblocktrans %}</a>
                    </dd>
                </dl>
            </div>
        </div>


    </div>
    <section class="kyrauga-image-metadata">
        <h2 class="w-label-3">{% trans "Image metadata" %}</h2>
        <p class="kyrauga-image-metadata__intro">
            {% trans "Review or update the imported image metadata. GPS coordinates can be edited manually or by placing the marker on the map." %}
        </p>
        <div class="kyrauga-image-metadata__fields">
            {% for field in form.metadata_fields %}
            <div class="kyrauga-image-metadata__field">
                {% formattedfield field %}
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="kyrauga-image-map">
        <div class="kyrauga-image-map__header">
            <h2 class="w-label-3">{% trans "Capture location" %}</h2>
            <a
                href="{{ image.map_link_url|default:'#' }}"
                target="_blank"
                rel="noreferrer"
                class="button button-small button-secondary{% if not image.has_gps_coordinates %} disabled{% endif %}"
                data-kyrauga-gps-target="open-map-link"
                {% if not image.has_gps_coordinates %}aria-disabled="true"{% endif %}
            >
                {% trans "Open in OpenStreetMap" %}
            </a>
        </div>
        <p class="kyrauga-image-map__help">
            {% trans "Click to place the marker, drag it to adjust the location, or type coordinates above." %}
        </p>
        <div
            class="kyrauga-image-map__frame"
            data-kyrauga-gps-map
            data-latitude="{{ form.gps_latitude.value|default_if_none:'' }}"
            data-longitude="{{ form.gps_longitude.value|default_if_none:'' }}"
        ></div>
    </section>
</div>
{% endblock %}
