{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if page.seo_title %}
                    {{ page.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}<meta name="description" content="{{ page.search_description }}" />{% endif %}
        {% block meta_tags %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}<base target="_blank">{% endif %}

        <link rel="icon"
              type="image/png"
              href="{% static 'favicon/favicon-96x96.png' %}"
              sizes="96x96" />
        <link rel="icon"
              type="image/svg+xml"
              href="{% static 'favicon/favicon.svg' %}" />
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'favicon/apple-touch-icon.png' %}" />
        <meta name="apple-mobile-web-app-title" content="Kýrauga" />
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}" />

        {% if ga_measurement_id %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_measurement_id }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ ga_measurement_id }}');
            </script>
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
              referrerpolicy="no-referrer">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/tailwind-built.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'css/kyrauga.css' %}">

        {% block extra_css %}{# Override this in templates to add extra stylesheets #}{% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% include "includes/site_header.html" %}

        {% block content %}
        {% endblock content %}

        {% include "includes/site_footer.html" %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/kyrauga.js' %}"></script>

        {% block extra_js %}{# Override this in templates to add extra javascript #}{% endblock %}
    </body>

</html>
